.menuBar {
    -fx-background-color: rgb(8, 151, 247);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 5);
}

.menu .label {
    -fx-text-fill: #fff;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 15, 0, 2, 2);
    -fx-font-size: 14px;
    -fx-font-weight: 700;
}

.menu-item .label{
    -fx-text-fill: #000;
    -fx-font-size: 12px;
}

.menu-item .label:hover {
    -fx-background: -fx-accent;
    -fx-background-color: rgb(255, 73, 73);
    -fx-opacity: 0.5;
}