.toolBar {
    -fx-background-color: #fff;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.212), 10, 0, 0, 3);
}

.Button {
    -fx-background-color: rgb(255, 73, 73);
    -fx-text-fill: #fff;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 4, 0, 1, 1);
}

.toolBar .Button .label {
    -fx-text-fill: #fff;
}

.table-view {
    -fx-background-color: #fff;
}

.table-view .column-header-background .filler {
    -fx-background-color: #fff;
}

.table-column {
    -fx-background-color: #fff;
}

.table-view .table-cell {
    -fx-background-color: transparent;
}

.table-row-cell:even {
    -fx-background-color: #ECECEC;
}

.table-row-cell:odd {
    -fx-background-color: #fff;
}

.radio-button .radio {
    -fx-border-width: 1px;
    -fx-border-color: #000;
    -fx-background-color: white;
    -fx-background-image: null;
    -fx-border-radius: 15px;
    -fx-padding: 1px;
}
.radio-button .radio:selected {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button -radio:armed {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button -radio:determinate {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button -radio:indeterminate {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button .dot {
    -fx-background-radius: 15px;
    -fx-padding: 6px;
}

.searchPane {
    -fx-background-color: #fff;
    -fx-border-color: #ccc;
    -fx-border-width: 0 0 0 1;
}